


<div class="foot">
    <div [style.height.vh]="10" fxLayoutAlign="center center">
      LOGO and TITLE
    </div>
    
    <div fxLayout='row wrap'>
        <div fxFlex="25" fxFlex.lt-md="50" fxLayoutAlign="center center">
            <i class="fa fa-balance-scale fa-3x"></i>
        </div>
        <div fxFlex="25" fxFlex.lt-md="50" fxLayoutAlign="center center">
            <i class="fa fa-balance-scale fa-3x"></i>
        </div>
        <div fxFlex="25" fxFlex.lt-md="50" fxLayoutAlign="center center">
            <i class="fa fa-balance-scale fa-3x"></i>
        </div>
        <div fxFlex="25" fxFlex.lt-md="50" fxLayoutAlign="center center">
            <i class="fa fa-balance-scale fa-3x"></i>
        </div>
        <div fxFlex="25" fxFlex.lt-md="50" fxLayoutAlign="center center">
            <i class="fa fa-balance-scale fa-3x"></i>
        </div>
        <div fxFlex="25" fxFlex.lt-md="50" fxLayoutAlign="center center">
            <i class="fa fa-balance-scale fa-3x"></i>
        </div>
        <div fxFlex="25" fxFlex.lt-md="50" fxLayoutAlign="center center">
            <i class="fa fa-balance-scale fa-3x"></i>
        </div>
        <div fxFlex="25" fxFlex.lt-md="50" fxLayoutAlign="center center">
            <i class="fa fa-balance-scale fa-3x"></i>
        </div>
    </div>

</div>





