<div fxLayout="column">
    
    <div  fxLayout="column" fxLayoutAlign="end center">
            <div  [style.height.vh]="10" fxLayoutAlign="center center">
                    Hello, {{ is_login }} 
            </div>
            <div fxLayoutAlign="center center">
                    Your Coin:&nbsp;&nbsp; <a class="my_coin"> {{ my_coin }} </a>
            </div>        
    </div> 
    <div fxLayoutAlign="center center">
        <form [formGroup]="subscribeForm">           
            <mat-form-field color='accent'>
                <input matInput placeholder="subscribe" 
                [(ngModel)]="subscribe" 
                formControlName="subscribe">
                <button mat-button *ngIf="subscribe" 
                matSuffix mat-icon-button aria-label="Clear" 
                (click)="subscribe=''">
                <i class="fa fa-times" aria-hidden="true"></i>
                </button>
                <mat-error 
                *ngIf="subscribeForm.controls.subscribe.invalid" >
                Please enter a valid number
                </mat-error>
            </mat-form-field>
        </form>
            <button mat-button color="primary" 
            [disabled]="subscribeForm.controls.subscribe.invalid"
            (click)="submit()">
            SUBMIT
            <i *ngIf="submiting" class="fa fa-spinner fa-spin fa-fw"></i>
            </button>
    </div>
</div>
 

