.show_border{
    height: 10vh;
    width: 20vw;
    background-color: #F88A2F;
    background: rgba(243, 140, 5, 0.5);
    border-radius: 1rem;
    font-size: 3vh;
}
.vertical-align-content > *
{
    display: flex!important;
    align-content: center!important;
    align-items: center!important;
}
.align-content
{
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.div_height{
    height: 10vh;
}

.my_coin{
    color: #216ec2
}

.mat-button[disabled][disabled]{
    color: #8a8888;
}