
<div class="page-home header_font">
        
    <div class="sticky-header header" [class.header-animate]="isAnimate">
        <div>
            <div fxFlex="10"></div>
            <div fxFlex="20">
                Trade Mark
            </div>
            <div fxFlex="40"></div>

                <ng-container *ngIf="!is_login">      
                    <div class="header_hover_font" *ngIf="is_login == false">
                        <button mat-button color="" 
                            [ngClass]="{'mat-button-active' : show}" 
                            (click)="showSignUp()">
                            SIGN IN <a class="slash">/</a> UP
                        </button>        
                    </div>                    
                </ng-container>

                <ng-container *ngIf="is_login">
                    <div fxLayout='row'>
                        <div fxHide.lt-md="true" >
                                Hello, {{ is_login }} 
                        </div>
                        <div>                   
                            <button mat-button color="accent" 
                                [ngClass]="{'mat-button-active' : show_sub}" 
                                (click)="showSubscribe()">
                                subscribe
                            </button>
                        </div>
                        <div> 
                            <button mat-button color="accent" 
                                (click)="logout()">
                            logout
                            </button>
                        </div>
                    </div>            
                </ng-container>
        </div>
        <div fxLayout='row' *ngIf="show_sub" [tdToggle]="! show_sub">
            <app-subscribe [is_show]="show_sub" [is_login]="is_login"></app-subscribe>
        </div>
        <div *ngIf="show" [tdToggle]="! show">
            <app-signup (closeevent)="isLogin($event)"></app-signup>
        </div>
    </div>    
        
    <div class="home">
        <div fxFlex="10"></div>
        <div fxFlex="80">
            <app-home></app-home>    
        </div>
        <div fxFlex="10"></div>
    </div>
    <div class="page_1">
        <div fxFlex="10"></div>
        <div fxFlex="80">
            <app-page1></app-page1>
        </div>
        <div fxFlex="10"></div>
    </div>
    <div  class="foot">
        <div fxFlex="10"></div>
        <div fxFlex="80">
            <app-foot></app-foot>
        </div>
        <div fxFlex="10"></div>
    </div>
</div>