<div class="page-home header_font">

  <div class="ui-g sticky-header header" [class.header-animate]="isAnimate">
    <div class="ui-g-2">
    </div>
    <div class="ui-g-2">
      Trade Mark
    </div>
    <div class="ui-g-4">
            <mat-progress-bar
            class=""
            color="accent"
            mode="Determinate"
            [value]="total_rate"
            bufferValue="0"> </mat-progress-bar>
        {{ total }}   /  10000000000
    </div>  
    <div class="ui-g-1"></div>
    <ng-container *ngIf="!is_login">      
      <div class="ui-g-3 header_hover_font" *ngIf="is_login == false">
          <button mat-button color="" 
            [ngClass]="{'mat-button-active' : show}" 
            (click)="showSignUp()">
              SIGN IN <a class="slash">/</a> UP
          </button>        
      </div>
      <div class="ui-g-12" *ngIf="show" [tdToggle]="! show">
        <app-signup (closeevent)="isLogin($event)"></app-signup>
      </div>
    </ng-container>

    <ng-container *ngIf="is_login">
      <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-10"></div>
        <div class="ui-g-2">
            <div class="ui-g-12 ui-g-nopad">
                Hello, {{ is_login }} 
            </div>
            <div class="ui-g-12 ui-g-nopad">                   
            <button mat-button color="accent" [ngClass]="{'mat-button-active' : show_sub}" (click)="showSubscribe()">
                subscribe
            </button>
            <button mat-button color="accent" (click)="logout()">
              logout
            </button>
        </div>
        </div>    
      </div>
      <div class="ui-g-12" *ngIf="show_sub" [tdToggle]="! show_sub">
          <app-subscribe [is_show]="show_sub" [is_login]="is_login"></app-subscribe>
      </div>
    </ng-container>
  </div>


  <div class="ui-g-12 page_1 ">
      <div class="ui-g-12"></div>
      <div class="ui-g-4"></div>
      <div class="ui-g-4">
          <div class="ui-g-12 page_11"></div>
          <div class="ui-g-12 parent">
              <i class="fa fa-balance-scale fa-5x"></i>
          </div>
          <div class="ui-g-12 parent">LOGO and TITLE</div>
          <div class="ui-g-12 parent">
              <div class="ui-g-6 parent">RESOURCE1</div>
              <div class="ui-g-6 parent">RESOURCE2</div>
          </div>
      </div>   
      <div class="ui-g-4"></div>            
  </div>

  <div class="ui-g-12 page_2">
      <div class="ui-g-12 parent">LOGO and TITLE</div>
      <div class="ui-g-12 parent">
          <div class="ui-g-6 parent">RESOURCE3</div>
          <div class="ui-g-6 parent">RESOURCE4</div>
      </div>
      <div class="ui-g-12">
          <ng-container *ngFor="let i of photo_list">
            <div class="ui-g-4" >
                <div class="ui-g-12  parent">
                    <img [src]="i.photo_url" />
                </div>
                <div class="ui-g-12  parent">
                    {{  i.photo_des }}
                </div>
            </div>
          </ng-container>
      </div>
  </div>

  <div class="ui-g-12 page_3">
      <div class="ui-g-12 parent">LOGO and TITLE</div>
      <div class="ui-g-12 parent">
          <div class="ui-g-3 parent">
              <i class="fa fa-balance-scale fa-3x"></i>
          </div>
          <div class="ui-g-3 parent">
              <i class="fa fa-balance-scale fa-3x"></i>
          </div>
          <div class="ui-g-3 parent">
              <i class="fa fa-balance-scale fa-3x"></i>
          </div>
          <div class="ui-g-3 parent">
              <i class="fa fa-balance-scale fa-3x"></i>
          </div>
          <div class="ui-g-3 parent">
              <i class="fa fa-balance-scale fa-3x"></i>
          </div>
      </div>
  </div>
</div>