<div class="page_font">
    <div [style.height.vh]="40"></div>
    <div fxLayoutAlign="center center" >
        <i class="fa fa-balance-scale fa-5x"></i>
    </div>
    <div fxLayoutAlign="center center">LOGO and TITLE</div>
    <div  fxLayout.lt-md="column">
        <div fxFlex="30"></div>
        <div fxFlex="20" fxLayoutAlign="center center">
                <i class="fa fa-github fa-5x" aria-hidden="true"></i>
        </div>
        <div fxFlex="20" fxLayoutAlign="center center">
                <i class="fa fa-file-pdf-o fa-5x" aria-hidden="true"></i>
        </div>
    </div>
    <div [style.height.vh]="10"></div>
    <div  flex fxLayout="row">
        <div fxFlex="40"></div>
        <div fxFlex="20" fxLayoutAlign="center center" 
            fxLayoutWrap>
                <mat-progress-bar
                class=""
                color="accent"
                mode="Determinate"
                [value]="total_rate"
                    bufferValue="0">
            </mat-progress-bar>
            <div>
                {{ total | number }} 
            </div>                    
        </div>           
    </div> 
</div>