/* You can add global styles to this file, and also import other style files */
@import '../node_modules/primeng/resources/themes/omega/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';


// Plus imports for other components in your app.

// Define a custom typography config that overrides the font-family
// or any typography level.
$typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $headline: mat-typography-level(32px, 48px, 700)
);

@include mat-core($typography); // $typography is an **optional** argument for the mat-core

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$primary: mat-palette($mat-blue, 700);
$accent:  mat-palette($mat-orange, 800, A100, A400);

// The warn palette is optional (defaults to red).
$warn:    mat-palette($mat-red, 600);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $accent, $warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);
@include covalent-theme($theme, $typography); // $typography is an **optional** argument for the covalent-theme


body {
    display: block;
    margin: 0px !important;
    /* background-image: url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1513014633163&di=fe6ceab4f3bf3441efccd72d0e639964&imgtype=0&src=http%3A%2F%2Fh.hiphotos.baidu.com%2Fzhidao%2Fpic%2Fitem%2Fd1160924ab18972b5bfa7cd1eecd7b899f510aec.jpg");
    background-position: center center;
    background-size: cover; */
}


.mat-input-placeholder {
    color: rgb(155, 151, 151);
}
.mat-form-field-underline {
    background-color: rgb(155, 151, 151);
}
